*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.winning-blocks {
  background-color: rgba(255, 255, 255, 0.189) !important;
  border-radius: 3px;
}
html{
  background-color: #ffffff;
  min-height: 100vh;
}



body{
  color: rgb(0, 0, 0);
  font-family: 'finger paint',cursive;
  caret-color: transparent;
  height: 100hv;

}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color:rgb(0, 0, 0);
}


h1{
  font-size: 50px;
  text-transform: uppercase;
}
.ttt{
  text-decoration: underline;
  text-decoration-line: underline curved;
  text-underline-offset: 7px;
}
.container{
  width: 100%;
  max-width: 520px;
  height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:rgb(100, 203, 247);
  overflow: hidden;
}
.gameboard{
  width: 450px;
  display:inherit;
  flex-wrap: wrap;
  margin-top: 30px;
  font-size: medium;
}
 
@media (max-width: 450px) {
   
  body {
    height: auto;
  }
}

.box{
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:aliceblue;
  font-size: 120px;
  border-right: 6px solid ;
  border-bottom: 6px solid ;
}
.box.box:nth-child(3n){
  border-right: none;
}

.box.box:nth-child(6n)~.box{
  border-bottom: none;
}

button{
  padding: 10px 20px;
  font-size: 20px;
  width: 50%;
  height: 60%;
  background-color: orange;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  font-family: 'finger paint',cursive;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
button:hover{
  transform: scale(1.1);
  color: whitesmoke;
  background-color: black;
}
.title{
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255);

}
* {
  box-sizing: border-box;
  height: 100vh;
}

